[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PsychoMatic"]
	path = PsychoMatic
	url = https://github.com/gmoncayoj/psychomatic
